:root {
    --black: #000000;
    --button:#F077B1;
    --button2:#EC008C;
}

#content {
    margin: 20px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
#other_data{
    display: flex;
    gap: 10px;
}
#user_score{
    display: flex;
    gap: 5px;
    width: 100%;
}
#outter_left{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    width: 30%;
}
#outter_right{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}
#other_user_data{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
}
.customer_info {
    /* max-width: 90vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    gap: 20px;
}
#other_data{
    margin-top: 20px;
    display: flex;
}
#block{
    width: 30%;
}
#other_user_data{
    width: 70%;
}
#other_data_header{
    width: 100%;
    text-align: center;
}
#fund{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
}

#customer_img {
    width: 50%;
}

#user_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-small;
}


#customer_status {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#top,#next{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 20px;
}
#under{
    display: flex;
    justify-content: end;
    padding: 20px;
}
#risk_test,#personal_test{
    background-color: var(--button);
    border: none;
}
#fund_recommend{
    background-color: var(--button2);
    border: none;
}
#risk,
#personal{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    align-items: center;
    padding: 20px;
}
#customer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#risk_title,#personal_title {
    align-items: center;
    display: flex;
    flex-direction: column;
}