:root{
    --black : #000000;
}

#content{
    margin: 20px;
}
#test_part{
    border-radius: 10px;
    border: 1px solid var(--black) ;
    padding: 20px;
}
.test_choice{
    margin-left: 10px;
}
#test_part{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#inner_question{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
#button_part{
    display: flex;
    justify-content: end;
    margin-top: 15px;
}
#no2{
    margin-top: 15px;
}