:root {
    --button: #F077B1;
    --button2: #EC008C;
    --white: #ffffff;
}

#fund_recommend {
    color: var(--button2);
}

#content {
    margin: 20px;
}

#fund_part {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.fund_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 15px;
    border-radius: 15px;
    gap: 5px;
}

.more_fund,
.compare {
    display: flex;
    justify-content: end;
    margin: 20px;
}

.view_more {
    background-color: var(--button) !important;
    border: none !important;
    width: 100%;
}


#more_fund {
    background-color: var(--button2);
    border: none;
}

.name_part {
    display: flex;
    flex-direction: column;
}

.top_card {
    display: flex;
    justify-content: space-between;
}

.fund_management_name,
.fund_name {
    font-weight: bold;
}

.investment {
    font-weight: 100;
    font-size: small;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.filter_part {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;

}

.filter {
    display: flex;
    gap: 20px;
}

#group1_header,
#group2_header {
    display: flex;
    align-items: center;
    gap: 5px;
}

#hr {
    margin-left: 20px;
    margin-right: 20px;
}

.header_part {
    display: flex;
    justify-content: space-between;
}

#risk_card1,
#risk_card2,
#risk_card4,
#risk_card5,
#risk_card6,
#risk_card7,
#risk_card9 {
    background-color: rgb(255, 123, 0) !important;
}

#risk_card10 {
    color: var(--white);
}

.compare_area {
    display: flex;
    gap: 20px;
    margin: 20px;

}

#selected_fund_1,
#selected_fund_2 {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
}

#reset_compare,
#compare_text {
    display: none;
}

.selected_fund_card {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 49%;
    /* Set the width to allow two cards in the same row */
    vertical-align: top;
    /* Align the cards at the top */
    margin-bottom: 10px;
    /* Add some margin between the cards */
}

.solid {
    border-top: 1px solid black;
}

#bar_score {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.block_score {
    border: 1px solid black;
    width: 20%;
    text-align: center;
    font-weight: bold;
    color: var(--white);
}

#score1 {
    background-color: #1e9911;
}

#score2 {
    background-color: #519400;
}

#score3 {
    background-color: #748d00;
}

#score4 {
    background-color: #938300;
}

#score5 {
    background-color: #b17600;
}

#score6 {
    background-color: #ce6300;
}

#score7 {
    background-color: #e84700;
}

#score8 {
    background-color: #ff0000;
}