#risk1{
    color: darkgreen;
    margin-left: 100px;
    margin-right: 100px;
}

#risk2{
    color: green;
    margin-left: 100px;
    margin-right: 100px;
}

#risk3{
    color: rgb(132, 199, 31);
    margin-left: 100px;
    margin-right: 100px;
}

#risk4{
    color: yellowgreen;
    margin-left: 100px;
    margin-right: 100px;
}

#risk5{
    color: rgb(223, 190, 2);
    margin-left: 100px;
    margin-right: 100px;
}

#risk6{
    color: orange;
    margin-left: 100px;
    margin-right: 100px;
}

#risk7{
    color: orangered;
    margin-left: 100px;
    margin-right: 100px;
}

#risk8{
    color: red;
    margin-left: 100px;
    margin-right: 100px;
}