:root {
    --black: #000000;
    --button:#F077B1;
    --button2:#EC008C;
}

#content {
    margin: 20px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
#other_data{
    display: flex;
    gap: 10px;
}

#outter_left{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    width: 30%;
}
#outter_right{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}
#other_user_data{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
}
.customer_info {
    /* max-width: 90vw; */
    display: flex;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    gap: 20px;
}
#other_data{
    margin-top: 20px;
    display: flex;
}
#block{
    width: 30%;
}
#other_user_data{
    width: 70%;
}
#other_data_header{
    width: 100%;
    text-align: center;
}
#fund{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
}

#customer_img {
    width: 50%;
}

#user_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-small;
}


#customer_status {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#top,#next{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 20px;
}
#under{
    display: flex;
    justify-content: end;
}
#risk_test,#personal_test{
    background-color: var(--button);
    border: none;
}
#fund_recommend{
    background-color: var(--button2);
    border: none;
}
#risk,
#personal{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 50%;
    align-items: center;
    padding: 20px;
}
#customer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    width: 100%;
}
#filter{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    width: 50%;
}
#block{
    
}
#risk_title,#personal_title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #group1_header{
    display: flex;
    justify-content: space-between;

  }
#heder_filter_text{
    color: var(--button2);
}