<!DOCTYPE html>
<html lang="en">

<head>

  <style>
    #group{
      margin-top: 20px;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #btn_part{
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    #click{
      background-color: #F077B1;
      border: none;
    }
    
  </style>
</head>

<body>

<div id="content">
  <div class="card-group" id="group">
    <div class="card">
      <img src="/frontend/img/fund.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">กองทุน คืออะไร ?</h5>
        <p class="card-text">กองทุนรวม คือ คนที่ต้องการลงทุน นำเงินมารวมกันแล้วก็มอบหมายให้กับคน ๆ หนึ่งไปลงทุนแทน ...
        </p>
        <div id="btn_part">

          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          <a href="/frontend/html/tutorial1.html" class="btn btn-primary" id="click">อ่านเพิ่มเติม</a>
        </div>

      </div>
    </div>
    <div class="card">
      <img src="/frontend/img/risk.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">กองทุนมีกี่ประเภท</h5>
        <p class="card-text">กองทุนรวมที่ขายในประเทศไทยแบ่งเป็น 8 ประเภทหลักๆ ตามระดับความเสี่ยง (Risk Spectrum)
          เรียงจากน้อยไปมาก ...</p>
        <div id="btn_part">
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          <a href="/frontend/html/tutorial2.html" class="btn btn-primary" id="click">อ่านเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/frontend/img/suit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Suitability Test</h5>
        <p class="card-text">Suitability Test คือแบบประเมินความเหมาะสมในการลงทุน ...</p>
        <div id="btn_part">
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          <a href="/frontend/html/tutorial3.html" class="btn btn-primary" id="click">อ่านเพิ่มเติม</a>
        </div>

      </div>
    </div>
  </div>

  <!-- 2  -->
  <div class="card-group" id="group">
    <div class="card">
      <img src="/frontend/img/knowrisk.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ความเสี่ยงคืออะไร</h5>
        <p class="card-text">ความเสี่ยงในการลงทุน คือ
          ความไม่แน่นอนหรือโอกาสที่เราจะไม่ได้รับผลตอบแทนตามที่คาดหวังไว้จากการลงทุนนั้น ๆ
          ซึ่งความเสี่ยงมีหลากหลายประเภท ...</p>
        <div id="btn_part">
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          <a href="/frontend/html/tutorial4.html" class="btn btn-primary" id="click">อ่านเพิ่มเติม</a>
        </div>

      </div>
    </div>
    <div class="card">
      <img src="/frontend/img/better.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">สรุป 4 เรื่องที่ “กองทุน” ทำได้ดีกว่า “หุ้น”</h5>
        <p class="card-text">มีหลายเรื่องที่การลงทุนในตลาดหุ้นทำไม่ได้ แต่กองทุนรวมสามารถทำได้
          ซึ่งหลายอย่างก็เพื่ออำนวยความสะดวกให้กับนักลงทุนนั่นแหละครับ และนี่คือ 4 เรื่องที่ “กองทุน” ทำได้ดีกว่า “หุ้น”
          ...</p>
        <div id="btn_part">
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          <a href="/frontend/html/tutorial5.html" class="btn btn-primary" id="click">อ่านเพิ่มเติม</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/frontend/img/investment.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Passive vs. Active ลงทุนแบบไหนดีกว่ากัน</h5>
        <p class="card-text">ก่อนที่จะลงทุนในกองทุนรวม เราต้องรู้ก่อนว่ากองทุนที่เรากำลังจะลงทุนนั้น เป็นกองทุนประเภทไหน
          และผู้จัดการกองทุนมีแนวทางในการบริหารกองทุนอย่างไร ...</p>
        <div id="btn_part">
          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
          <a href="/frontend/html/tutorial6.html" class="btn btn-primary" id="click">อ่านเพิ่มเติม</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- grid
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      -->
</body>

</html>