<!DOCTYPE html>
<html lang="en">
<head>
   

</head>
<body>
    

    <div class="card-group">
        <div class="card">
          <img src="../img/buff_fund.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">กองทุน คืออะไร ?</h5>
            <p class="card-text">กองทุนรวม คือ คนที่ต้องการลงทุน นำเงินมารวมกันแล้วก็มอบหมายให้กับคน ๆ หนึ่งไปลงทุนแทน...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial1.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
        <div class="card">
          <img src="../img/fundtype.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">กองทุนมีกี่ประเภท</h5>
            <p class="card-text">กองทุนรวมที่ขายในประเทศไทยแบ่งเป็น 8 ประเภทหลักๆ ตามระดับความเสี่ยง (Risk Spectrum) เรียงจากน้อยไปมาก...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial2.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
        <div class="card">
          <img src="../img/suittestcover.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Suitability Test</h5>
            <p class="card-text">Suitability Test คือแบบประเมินความเหมาะสมในการลงทุน ...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial3.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
      </div>

      <!-- 2  -->
      <div class="card-group">
        <div class="card">
          <img src="../img/riskawareness.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ความเสี่ยงคืออะไร</h5>
            <p class="card-text">ความเสี่ยงในการลงทุน คือ ความไม่แน่นอนหรือโอกาสที่เราจะไม่ได้รับผลตอบแทนตามที่คาดหวังไว้จากการลงทุนนั้น ๆ ซึ่งความเสี่ยงมีหลากหลายประเภท...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial4.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
        <!-- เหลือก้อน 5 กับ 6 ยังคลิกไม่ได้-->
        <div class="card">
          <img src="../img/tutor1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ประเมินความเสี่ยง</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img src="../img/tutor1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Suitability Test</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


        <!-- grid
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      -->
</body>
</html>