<!DOCTYPE html>
<html lang="en">
<head>
   

</head>
<body>
    

    <div class="card-group">
        <div class="card">
          <img src="/frontend/img/buff_fundCover.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">กองทุน คืออะไร ?</h5>
            <p class="card-text">กองทุนรวม คือ คนที่ต้องการลงทุน นำเงินมารวมกันแล้วก็มอบหมายให้กับคน ๆ หนึ่งไปลงทุนแทน ...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial1.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
        <div class="card">
          <img src="/frontend/img/fundtypeCover.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">กองทุนมีกี่ประเภท</h5>
            <p class="card-text">กองทุนรวมที่ขายในประเทศไทยแบ่งเป็น 8 ประเภทหลักๆ ตามระดับความเสี่ยง (Risk Spectrum) เรียงจากน้อยไปมาก ...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial2.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
        <div class="card">
          <img src="/frontend/img/suittestCover.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Suitability Test</h5>
            <p class="card-text">Suitability Test คือแบบประเมินความเหมาะสมในการลงทุน ...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial3.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
      </div>

      <!-- 2  -->
      <div class="card-group">
        <div class="card">
          <img src="/frontend/img/riskawarenessCover.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ความเสี่ยงคืออะไร</h5>
            <p class="card-text">ความเสี่ยงในการลงทุน คือ ความไม่แน่นอนหรือโอกาสที่เราจะไม่ได้รับผลตอบแทนตามที่คาดหวังไว้จากการลงทุนนั้น ๆ ซึ่งความเสี่ยงมีหลากหลายประเภท ...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial4.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
        <div class="card">
          <img src="/frontend/img/fundVSstocksCover.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">สรุป 4 เรื่องที่ “กองทุน” ทำได้ดีกว่า “หุ้น”</h5>
            <p class="card-text">มีหลายเรื่องที่การลงทุนในตลาดหุ้นทำไม่ได้ แต่กองทุนรวมสามารถทำได้ ซึ่งหลายอย่างก็เพื่ออำนวยความสะดวกให้กับนักลงทุนนั่นแหละครับ และนี่คือ 4 เรื่องที่ “กองทุน” ทำได้ดีกว่า “หุ้น” ...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial5.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
        <div class="card">
          <img src="/frontend/img/passiveVSactiveCover.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Passive vs. Active ลงทุนแบบไหนดีกว่ากัน</h5>
            <p class="card-text">ก่อนที่จะลงทุนในกองทุนรวม เราต้องรู้ก่อนว่ากองทุนที่เรากำลังจะลงทุนนั้น เป็นกองทุนประเภทไหน และผู้จัดการกองทุนมีแนวทางในการบริหารกองทุนอย่างไร ...</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <a href="/frontend/html/tutorial6.html" class="btn btn-primary">อ่านเพิ่มเติม</a>
          </div>
        </div>
      </div>


        <!-- grid
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../frontend/img/tutor1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      -->
</body>
</html>